body{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
}

nav{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: space-evenly;
    font-weight: 600;
    color: black;
    flex-wrap: nowrap;
}

ul{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    justify-content: space-evenly;
}

li1{
    display: flex;
    align-content: space-around;
    padding-left: 3rem;
    font-size: 25px;
    text-decoration: none;
}

header{
    display: flex;
    max-width: fill;
    background-color: rgb(184, 229, 255);
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 2rem;
    font-size: 30px;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
}

p{
    
    display: flex;
    justify-content: center;
}

a1{
    display: flex;
    padding: 1rem;
    text-decoration: none;
    background-color: rgb(76, 123, 185);
    max-width: 500px;
    border-radius:10px;
    color: white;
    outline: auto;
    outline-color: black;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;

}


h2{
    font-weight: lighter;
    display: flex;
    align-content:center;
}

.card{
    display: flex;
    align-content: space-between;
}

.card-list{
    display: flex;
    padding: 1rem;
    background-color: aqua;
}

li{

    display: flex;
    flex-direction: column;
    max-width: 27rem;
    max-height: 10rem;
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    padding: 1rem;
    

}




