body{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}

nav{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: space-evenly;
    font-weight: 600;
    text-decoration: none;
    color: black;
    flex-wrap: nowrap;
}

ul{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    justify-content: space-evenly;
    text-decoration: none;
}

li1{
    display: flex;
    align-content: space-around;
    padding-left: 3rem;
    font-size: 25px;
}

header{
    display: flex;
    max-width: fill;
    background-color: rgb(184, 229, 255);
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 2rem;
    font-size: 30px;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
}

p{
    
    display: flex;
    justify-content: center;
}

a1{
    display: flex;
    padding: 1rem;
    text-decoration: none;
    background-color: rgb(76, 123, 185);
    max-width: 500px;
    border-radius:10px;
    color: white;
    outline: auto;
    outline-color: black;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    align-content: center;

}


h2{
    font-weight: lighter;
    font-size: 2rem;
    padding-left: 2.5em;
    display: flex;
    max-height: 20px;
    background-color: rgb(255, 255, 255);

}

.card{
    display: flex;
    background-color: rgb(161, 161, 161);

}



li{
    
    display: flex;
    justify-content: center;
    background-color: rgb(161, 161, 161);
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
    font-size: 2rem;

}

footer{
    display: flex;
    flex-wrap:nowrap ;
    color: white;
    padding: 1rem;
    background-color: rgb(43, 103, 138);
}



